[Desktop Entry]
Type=Application
Name=Oneko
Comment=A funny cursor chaser
Exec=/usr/bin/oneko -sakura -tofocus
Icon=gtk-terminal
NotShowIn=KDE,GNOME;
