# For ANNE PRO 2
SUBSYSTEM=="input", ATTRS{idVendor}=="04d9", ATTRS{idProduct}=="8008", 	MODE="0666", GROUP="wheel"
KERNEL=="hidraw*", ATTRS{idVendor}=="04d9", ATTRS{idProduct}=="8008", MODE="0666", GROUP="wheel"
## For ANNE PRO
SUBSYSTEM=="input", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5710", MODE="0666", GROUP="wheel"
KERNEL=="hidraw*", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5710", MODE="0666", GROUP="wheel"